.header {
  height: 80px;
  display: flex;
  justify-content: center;
}

.header span {
  font-size: 18px;
  font-weight: 600;
  display: none;
}

.buttonsDesktop {
  display: flex;
  align-items: center;
}

.githubMobile {
  display: none;
  justify-content: center;

  /* border-radius: 10px; */
  border: 0;
  /* box-shadow: 1px 1px 3px #141414; */
  background-color: transparent;
  width: 250px;
  padding: 5px 0 5px 0;
  font-weight: 550;
  font-size: 14px;
}

.githubMobile a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.githubMobile img {
  margin-right: 10px;
}

.githubDesktop {
  display: none;
}

.information {
  line-height: 1;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: center; */
  align-items: center;
}

.information div div {
  display: flex;
  justify-content: center;
}

.information h1 {
  margin-left: 5px;
  max-width: 400px;
}

.information a {
  color: #fec704;
}

.information a.javascriptHref:hover {
  text-decoration: underline;
  text-decoration-color: #fec704;
}

.information p {
  margin-left: 5px;
  font-size: 16px;
  font-weight: lighter;
  color: #3E3E3E;
}

.seeMyProjects {
  background-color: #3E3E3E;
  color: #F5F3F4;
  border: 0;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  box-shadow: 0 0 3px #141414;

  cursor: pointer;
  transition: 0.2s;
}

.seeMyProjects:hover {
  background-color: #595959;
}

.seeMyProjects a {
  color: #F5F3F4;
  font-size: 16px;
}

.stackDesktop {
  display: none;
}

.stackMobile {
  margin-top: 30px;

  display: flex;
  justify-content: space-around;
}

.stackMobile a:hover {
  border-bottom: 1px solid #141414;
}

.stackMobile a img:hover {
  transform: scale(1.2);
}

.footer {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  justify-content: space-around;
}

.footer h2 {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
}

.footer p {
  margin-left: 5px;
  color: #3e3e3e;
}

.footer div {
  height: 30px;
}

@media (min-width: 900px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;

    /* background-color: #ffffff; */
    /* box-shadow: 0 2px 2px -2px #141414; */
  }

  .header span {
      display: block;
  }

  .githubMobile {
    display: none;
  }

  .githubDesktop {
    display: block;
    font-size: 16px;
    margin-right: 10px;
  }

  .githubDesktop:hover {
      text-decoration: underline;
  }

  .information {
    margin-top: 30px;

    flex-direction: row;
    justify-content: space-between;

    padding: 0 10% 0 10%;
  }

  .information div div {
    justify-content: right;
  }

  .information h1 {
    font-size: 48px;
    max-width: 450px;
  }

  .information p {
    max-width: 450px;
  }

  .seeMyProjects {
    width: 200px;
  }

  .stackDesktop {
    margin-top: 100px;
    padding: 0 15% 0 15%;

    display: flex;
    justify-content: space-around;
  }

  .stackDesktop a {
    transition: 0.2s;
    margin: 0 5px 0 5px;
    width: 100px;
  }

  .stackDesktop a:hover {
    transition: 0.2s;
    border-bottom: 1px solid #141414;
    transform: scale(1.2);
  }

  .stackMobile {
    display: none;
  }
}
